{% extends 'base.html.twig' %}

{% block title %}Вывод публикаций в стандарте ГОСТ{% endblock %}

{% block body %}
    <ol>
{% for pub in publications %}
        <li>{{ pub.name }}</li>
{% endfor %}
    </ol>
{% endblock %}