{% extends 'base.html.twig' %}

{% block title %}Вывод публикаций в стандарте ГОСТ{% endblock %}

{% block body %}
{% for pub in publications %}
    <ol>
        <li>{{ pub.name }}</li>
    </ol>
{% endfor %}
{% endblock %}